*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 62.5%;
}

body {
	height: 100vh;
}

.header {
	padding: 2em;
	background-color: #f6f5f2;
	display: flex;
	justify-content: left;
	align-items: center;
}

.header_title {
	margin-left: 5em;
	font-size: 2.2rem;
	color: #333;
}

.app {
	width: 100%;
	height: calc(100vh - 6em);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(141, 206, 140);
	position: relative;
	overflow: hidden;
}

.wrapper {
	max-width: 1200px;
	position: absolute;
	z-index: 222;
}

.app_box {
	width: 400px;
	min-height: 350px;
	/* max-height: 600px; */
	display: flex;
	background-color: #f6f5f2;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
}

.app_box--top {
	border-bottom: 3px solid rgb(141, 206, 140);
	margin-bottom: 5em;
}

.app_title {
	font-size: 2.4rem;
	text-align: center;
	margin-bottom: 1em;
}

.app_text {
	position: absolute;
	bottom: 0;
	padding: 2em;
	color: red;
	font-size: 1.4rem;
}

.app_label {
	font-size: 1.8rem;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.app_options {
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
	padding: 0.5em;
	border-radius: 10px;
	font-size: 1.8rem;
}

.button {
	width: 100%;
	padding: 0.5em 2em;
	background-color: rgb(141, 206, 140);
	border: none;
	border-radius: 10px;
	font-size: 1.8rem;
	cursor: pointer;
	/* z-index: 2; */
}

.medical_tips {
	font-size: 1.4rem;
	padding: 2em;
	transition: max-height 0.3s ease;
}

.medical_tips.show {
	max-height: 500px;
	overflow-y: auto;
}

.medical_tips li {
	margin-bottom: 1em;
}

.medical_tips--title {
	margin: 1.5em auto 0em;
	font-size: 1.8rem;
}

.footer {
	text-align: center;
	font-size: 1.2rem;
	background-color: #f6f5f2;
	padding: 1em;
}

.icon {
	position: absolute;
	width: 10%;
	opacity: 0.2;
}

.icon-heart {
	top: 5%;
	left: 5%;
	animation: rotate 10s linear infinite, heartAnimation 10s linear infinite;
}

.icon-star {
	top: 10%;
	left: 95%;
	animation: secondRotate 10s linear infinite, starAnimation 10s linear infinite;
}

.icon-stethoscope {
	top: 90%;
	left: 86%;
	animation: rotate 10s linear infinite,
		stethoscopeAnimation 10s linear infinite;
}

.icon-vial {
	top: 80%;
	left: 15%;
	animation: secondRotate 10s linear infinite, vialAnimation 10s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes secondRotate {
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes heartAnimation {
	25% {
		top: 15%;
		left: 80%;
	}
	50% {
		top: 85%;
		left: 45%;
	}
	75% {
		top: 50%;
		left: 10%;
	}
	100% {
		top: 5%;
		left: 5%;
	}
}

@keyframes starAnimation {
	25% {
		top: 75%;
		left: 70%;
	}
	50% {
		top: 65%;
		left: 25%;
	}
	75% {
		top: 68%;
		left: 55%;
	}
	100% {
		top: 10%;
		left: 95%;
	}
}

@keyframes vialAnimation {
	25% {
		top: 35%;
		left: 80%;
	}
	50% {
		top: 15%;
		left: 45%;
	}
	75% {
		top: 88%;
		left: 65%;
	}
	100% {
		top: 80%;
		left: 15%;
	}
}

@keyframes stethoscopeAnimation {
	25% {
		top: 15%;
		left: 50%;
	}
	50% {
		top: 45%;
		left: 5%;
	}
	75% {
		top: 88%;
		left: 3;
	}
	100% {
		top: 90%;
		left: 80%;
	}
}
